body{
	font-size: 16px;
	color: black;
	background-color: #E1AB2E;
	font-family: 'Be Vietnam Pro', sans-serif;
}
h1{
	margin-top: 35px;
	margin-bottom: 30px;
}
h3{
	margin-top: 20px;
	margin-bottom: 20px;
}
#header-nav{
	background-color: #5F6FD8;  
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-top: 20px; 	
	padding-bottom: 20px; 	
}
.navbar-brand h1{
	color: #A93226;
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	text-shadow: 1px, 1px, 1px, #222;
}

#grid{
	background-color: #FDEBD0;
	padding: 20px;
}


@media (min-width: 1200px) {
 .col-lg-4 {
 	width: 33%;
 	float: left;
 }
.navbar-toggle {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
 .col-sm-6 {
 	width: 50%;
 }
  .col-sm-12 {
 	width: 100%;
 }
.navbar-toggle {
		display: none;
	}
}


@media (max-width: 767px) {

 .col-xs-12 {
 	width: 100%;
 	clear:left;
 }
.navbar-toggle{
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #A93226;
    border: 1px solid ;
    border-radius: 4px;
}
.navbar-toggle icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle icon-bar + .icon-bar {
	margin-top: 4px;
}

#nav-list{
	width: 100%;
	font-weight: bold;
    color: black;
}
.navbar-toggle icon-bar{
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
}
.nav-item {
	box-shadow: 0 1px 20px 1px #CCCCCC;
	background-color: #FDEBD0;
}
.nav-item a{
    color: #A93226;
}

}



